
body {
  font-family: 'VT323', monospace;
}
header{
  background-color: gray;
  height: 150px;
  width: 100%;
  font-size: 50px;
  margin: 0 auto;
}

h1{
  position: relative;
  left: 488px;
  text-shadow: 5px 5px red;
  font-size: 2.5em;
  display: inline-block;
  margin: 0 auto;
  animation: highlight 0.5s;
  animation-iteration-count: infinite;
}

@keyframes highlight {
   from {text-shadow: 5px 5px red; color: black;}
   to {text-shadow: 5px 5px yellow; color: red;}
}

i.home:before {
    content: "\f015";
    font-family: FontAwesome;
    font-size:60px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:#000;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-right: 0.5em;
    position: relative;
    top: 0.7em;
    left: 9.5em;
}

i.home:hover:before {
  color:#FFF;
  border: 0 none;
}

i.info-circle:before {
    content: "\f05a";
    font-family: FontAwesome;
    font-size: 55px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:#000;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;;
    top: 0.7em;
    left: 10em;
}

i.info-circle:hover:before {
  color:#FFF;
  border: 0 none;
}

.spot {
  width: 50px;
  height: 50px;
  border: 1px dotted green;
}
.hit {
  background-color: red;
  background-image: radial-gradient(30px at 50% 50% , red 0%, rgba(255, 0, 0, 0) 0%, green 90%);
}
.miss {
  background-color: blue;
  background-image: radial-gradient(30px at 50% 50% , blue 0%, rgba(0, 0, 255, 0) 0%, lightblue 90%);
}
aside {
  font-size: 2em;
  margin-top: 30px;
  float: right;
}

#scoreheader{
  margin-top: 15px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 20px;
}
progress[value]::-webkit-progress-value {
  background-color: rgb(11, 168, 53);
  /*border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;*/
}

.health-10::-webkit-progress-value{
  background-color: yellow;
}

.health-25 {
  color: red;
}

table {
  margin-top: 30px;
  background-color: white;
  box-shadow: inset 0 0 15px 5px lightblue;
  float: left;
}
td {
  width: 60px;
  height: 60px;
  border: 1px dotted black;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

.fa{
  position: relative;
  top: 38px;
  left: 1037px;
}
.fa:hover{
  color:white;
}

.mainwrapper{
  background-image: url("../assets/DestroyerDestroying.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  padding-bottom: 10px;
  min-height: 697px;
}

.sectionwrapper {
  width: 960px;
  margin: 0 auto;
  color: oldlace;
}

.main{
  width: 1200px;
  height: 770px;
  position: relative;
  top: 5px;
  left: 75px;
  bottom: 65px;
  margin: 0 auto;
}

fieldset{
  position: relative;
  padding: 1.5em;
  top: 159px;
  left: 367px;
  height: 200px;
  width: 350px;
  background: linear-gradient(
      rgba(218, 224, 234, 0.45),
      rgba(218, 224, 234, 0.45)
    );
      color: black;
}

label{
  font-size: 1.5em;
  line-height: 0.5em;
  margin-top: 0px;
}
input{
  font-size: 20px;
}

#userName {
  width: 187px;
  line-height: 20px;
  display: block;
  margin-top: 10px;
}

.button {
  position: relative;
  top: 1.4em;
  left: 4em;
  width: 147px;
  height: 32px;
  font: inherit;
  font-size: 1.5em;
  background-color: oldlace;
}

.reset {
  margin-top: 60px;
  padding: 0px;
  width: 147px;
  height: 35px;
  font: inherit;
  background-color: oldlace;
}

.about {
  margin-bottom: 30px;
  /*background-color: white;*/
  /*opacity: .5;*/
}
.about > h3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  width: 710px;
  height: 180px;
  display: inline-block;
  font-size: 24px;
  padding: 10px;
}
.about > img {
  height: 200px;
  width: 200px;
}
#brian {
  background: url('../assets/Brian64.jpg')
}
#brian:hover {
  background: url('../assets/Brian200.jpg');
}
#chika {
  background: url('../assets/Chika64.jpg')
}
#chika:hover {
  background: url('../assets/Chika200.jpg');
}
#darcy {
  background: url('../assets/Darcy64.jpg')
}
#darcy:hover {
  background: url('../assets/Darcy200.jpg');
}
#juan {
  background: url('../assets/Juan64.jpg')
}
#juan:hover {
  background: url('../assets/Juan200.jpg');
}
.floatR {
  float: right;
}

footer{
  background-color: grey;
  width: 100%;
  height: 130px;
  margin-top: 0px;
}
