
*{
  font-family: 'VT323', monospace;
}
header{
  background-color: gray;
  height: 150px;
  width: 1600px;
  font-size: 50px;
  margin-top: -60px;
}

h1{
  position: relative;
  left: 450px;
  top: 25px;
  text-shadow: 5px 5px red;
}
.fa{
  position: relative;
  top: -90px;
  left: 1200px;
}
.fa:hover{
  color:white;
}
.main{
  background-image: url("../assets/DestroyerDestroying.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 770px;
  position: relative;
  top: 5px;
  left: 75px;
  bottom: 65px;
}

fieldset{
  position: relative;
  top: 330px;
  left: 380px;
  height: 280px;
  width: 400px;
  background: linear-gradient(
      rgba(218, 224, 234, 0.45),
      rgba(218, 224, 234, 0.45)
    );
      color: black;
}

label{
  font-size: 26px;
  line-height: 16px;
}

.button{
  position: relative;
  left: 80px;
  width: 90px;
  height: 30px;
}

footer{
  background-color: grey;
  width: 100%;
  height: 130px;
  margin-top: 40px;
}
