body {
  width: 960px;
  margin: 0 auto;
  background-color: lightblue;
  border: 1px dashed red;
}
div {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: white;
}
.spot {
  width: 50px;
  height: 50px;
  border: 1px dotted green;
}
.hit {
  background-color: red;
}
.miss {
  background-color: blue;
  background-image: radial-gradient(ellipse 10px at 5px 50% , #FFF 0%, rgba(0, 0, 255, 0) 50%, #0000FF 95%);
}
table {
  margin: 100px auto;
  background-color: white;
  box-shadow: inset 0 0 15px 5px lightblue;
}
td {
  width: 50px;
  height: 50px;
  border: 1px dotted black;
}
