body {
  width: 960px;
  background-image: url("../assets/DestroyerDestroying.jpg");
  background-repeat: no-repeat;
  background-color: lightblue;
  background-attachment: fixed;
  margin: 0 auto;
  /*border: 1px dashed red;*/
}

h1 {
  width: 515px;
  margin: 0 auto;
  font-size: 72px;
  /*color: red;*/
  font: normal 119px/1 "VT323", Helvetica, sans-serif;
  text-shadow: 5px 5px 0 rgba(255,0,0,1) ;
}

h4 {
  font-size: 40px;
}
div {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: white;
}
